<section class="bg-primary" id="haodidriver">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">加入好滴司机</h2>
                    <!-- <hr class="light"> -->
                    <hr>
                    <p class="text-faded">好滴平台司机：在线接单，丰富订单，提高收入</p>
                    <p class="text-faded">好滴顺风车拼车司机：自由发布及匹配拼车行程，轻松赚取零花钱</p>
                    <!-- <a href="#" class="btn btn-default btn-xl">立即查看</a> -->
                    <!-- <img src="img/qrcode.jpeg" alt=""> -->
                    <!-- <div class="text-faded hint">微信扫码预定7-9月*接送机*包车出游*，活动火热进行中</div> -->
                    <!-- <div class="text-faded hint">微信扫码咨询更多信息</div> -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <h3>IOS司机端</h3>
                        <img style="width: 50px; height:60px; margin: 20px" src="img/ios.png" alt="">
                        <p></p>
                        <a href="https://apps.apple.com/ca/app/id1475429043" class="btn btn-default btn-xl">立即下载</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <h3>Android司机端</h3>
                        <img style="width: 60px; height:60px; margin: 20px" src="img/android.png" alt="">
                        <p></p>
                        <a href="https://cdn.yunditechnology.com/haodi_driver_v1.0.1.5.apk" class="btn btn-default btn-xl">立即下载</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="hint" class="hint">
        <img src="img/hint.png" alt="">
    </div>
    
</section>
