<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">好滴用车</h2>
                <!-- <hr class="light"> -->
                <hr>
                <p class="text-faded">致力于打造安大略省大多地区最便捷 & 高效 & 及时 & 稳定的用车平台</p>
                <p class="text-faded">Commited to Build The Convenient & Efficient & Immediate & Stable Travel Platform</p>
                <!-- <a href="#" class="btn btn-default btn-xl">立即查看</a> -->
                <img src="img/qrcode.jpeg" class="qrcode wow tada" alt="">
                <div class="text-faded hint">微信扫码预定7-9月*接送机*包车出游*，活动火热进行中</div>
            </div>
        </div>
    </div>
</section>
