<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">联系我们</h2>
                <hr class="primary">
                <p>咨询【多伦多】及【大多地区】*实时叫车*预约叫车*接送机*包车出游* 请扫上方二维码或拨打电话</p>
                <p>敬请期待“好滴用车”微信小程序</p>
            </div>
        </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a>
                <p class="fa fa-wechat fa-3x wow bounceIn"></p>
                <p>上方扫码</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a >
            <p class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></p>
                <p>yunditech.ltd@gmail.com</p>
            </a>
        </div>

        <div class="col-lg-2 col-lg-offset-1 text-center">
            <!-- <a href="https://github.com/{{ site.github_username }}"> -->
            <a>
            <p class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".2s"></p>
                <p>+16472425016</p>
            </a>
        </div>

        <!-- <div class="bottom">Copyright © 福州云滴科技有限公司</div> -->


    </div>
</section>
