<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">我们的服务</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
                    <img src="img/real_time.png" alt="">
                    <h3>实时行程</h3>
                    <p class="text-muted">附近的司机实时响应你的叫车需求</p>
                    <p class="text-muted">高效，便捷，实时</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img src="img/booked1.png" alt="">
                    <h3>预约行程</h3>
                    <p class="text-muted">提前预约司机为您行程做充分准备</p>
                    <p class="text-muted">准时，可靠，计划出行</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i> -->
                    <img src="img/flight.png" alt="">
                    <h3>接送机行程</h3>
                    <p class="text-muted">预定司机提供指定航班接送服务</p>
                    <p class="text-muted">准确，准时，有保障</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i> -->
                    <img src="img/carpool.png" alt="">
                    <h3>顺风车行程</h3>
                    <p class="text-muted">轻松寻找顺路的司机或乘客</p>
                    <p class="text-muted">经济，便捷，有趣</p>
                </div>
            </div>
        </div>
    </div>
</section>
