<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">我们的服务</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/real_time.png" class="wow bounceIn" alt="">
                    <h3>实时/预约叫车</h3>
                    <p class="text-muted">附近的司机实时响应你的叫车需求</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/flight.png" class="wow bounceIn"  data-wow-delay=".2s" alt="">
                    <h3>接送机行程</h3>
                    <p class="text-muted">预定司机提供指定航班接送服务</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i> -->
                    <!-- <img src="img/carpool.png" class="wow bounceIn"  data-wow-delay=".3s" alt="">
                    <h3>顺风车行程</h3>
                    <p class="text-muted">轻松寻找顺路的司机或乘客</p>
                    <p class="text-muted">经济，便捷，有趣</p> -->
                    <img src="img/carpool.png" class="wow bounceIn"  data-wow-delay=".3s" alt="">
                    <h3>包车出游</h3>
                    <p class="text-muted">查找车辆一起包车出游，经济又实惠</p>
                    <!-- <p class="text-muted">经济，便捷，有趣</p> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img src="img/carpool.png" class="wow bounceIn"  data-wow-delay=".3s" alt="">
                        <h3>搬家跑腿</h3>
                        <p class="text-muted">远近途搬家，各种商品跑腿</p>
                        <!-- <p class="text-muted">经济，便捷，有趣</p> -->
                    </div>
                </div>
        </div>
    </div>
</section>
